<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Creation Page</title>
</head>
<body>
<style>
    form {
        width: fit-content;
        width: -moz-fit-content;
        margin: 40px auto;
    }
    fieldset {
        padding: 20px 30px;
    }
    label {
        display: block;
    }
    input {
        width: 200px;
        margin: 5px 0 10px;
    }
    .btn {
        width: 208px;
        padding: 3px;
        cursor: pointer;
    }
</style>

<form th:method="POST"
      th:action="@{/WEB-INF/pages/users}"
      th:object="${user}">
    <fieldset>
        <legend>Creating a new User</legend>
    
        <label for="login">Login</label>
        <input id="login" type="text" th:field="*{login}" required>
        <br>
        <label for="password">Password</label>
        <input id="password" type="text" th:field="*{password}" required>
        <br>
        <br>
        <select multiple size="3">
            <option disabled selected>Select role:</option>
            <div th:each="role : ${roles}">
                <option th:text="${role.getRole()}"
                        th:value="${role.getId()}"></option>
            </div>
        </select>
        <br><br>
        <input class="btn" type="submit" value="Add User">
    </fieldset>
</form>

</body>
</html>